# Exclude /config.php
/communitycms/config.php

# Exclude all contents of /files/ except /files/newsicons
/communitycms/files/
!/communitycms/files/newsicons/
!/communitycms/files/newsletters/

# Exclude TinyMCE cache files
/communitycms/scripts/tiny_mce/tiny_mce_*.gz