# Exclude /config.php
/config.php

# Exclude all contents of /files/ except /files/newsicons
/files/
!/files/newsicons/
!/files/newsletters/

# Exclude TinyMCE cache files
/scripts/tiny_mce/tiny_mce_*.gz