<div class="cal_event">
	<!-- $EDIT_BAR$ -->
	<h1 class="cal_event-heading"><!-- $EVENT_HEADING$ --></h1>
	<!-- $EVENT_IMAGE_START$ -->
	<div class="cal_event-image">
	<!-- $EVENT_IMAGE$ -->
	</div>
	<!-- $EVENT_IMAGE_END$ -->
	<div class="cal_event-content">
		<!-- $EVENT_AUTHOR_START$ -->
		<p class="cal_event-author">Posted by <!-- $EVENT_AUTHOR$ --></p>
		<!-- $EVENT_AUTHOR_END$ -->
		<p class="cal_event-time"><!-- $EVENT_TIME$ --></p>
		<strong>Event category:</strong> <!-- $EVENT_CATEGORY$ --><br />
		<br />
		<!-- $EVENT_DESCRIPTION$ --><br />
		<br />
		<!-- $EVENT_LOCATION_START$ --><strong>Location:</strong> <!-- $EVENT_LOCATION$ --><!-- $EVENT_LOCATION_END$ -->
	</div>
</div>