<table class='calendar'>
<tr>
	<th colspan="5"><!-- $CURRENT_MONTH_NAME$ --></th>
	<th colspan="2">
		<table border="0px" class="calendar_nav">
			<tr>
				<td>
					<a href="?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $CURRENT_MONTH$ -->&amp;y=<!-- $PREV_YEAR$ -->" rel="nofollow">&lt;&lt;</a>
				</td>
				<td>
					<a href="?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $PREV_MONTH$ -->&amp;y=<!-- $CURRENT_YEAR$ -->" rel="nofollow">&lt;</a>
				</td>
				<td>
					<a href="?<!-- $PAGE_REF$ -->&amp;view=month">Today</a>
				</td>
				<td>
					<a href="?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $NEXT_MONTH$ -->&amp;y=<!-- $CURRENT_YEAR$ -->" rel="nofollow">&gt;</a>
				</td>
				<td>
					<a href="?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $CURRENT_MONTH$ -->&amp;y=<!-- $NEXT_YEAR$ -->" rel="nofollow">&gt;&gt;</a>
				</td>
			</tr>
		</table>
	</th>
</tr>
<tr class="day_headings">
	<th><!-- $CAL_SUNDAY$ --></th>
	<th><!-- $CAL_MONDAY$ --></th>
	<th><!-- $CAL_TUESDAY$ --></th>
	<th><!-- $CAL_WEDNESDAY$ --></th>
	<th><!-- $CAL_THURSDAY$ --></th>
	<th><!-- $CAL_FRIDAY$ --></th>
	<th><!-- $CAL_SATURDAY$ --></th>
</tr>
<!-- $WEEK_START$ -->
<tr>
<!-- $EMPTY_DAY_START$ -->	<td></td>
<!-- $EMPTY_DAY_END$ -->
<!-- $DAY_START$ -->	<td>
		<!-- $DAY_NUMBER$ --><br />
		<!-- $DAY_EVENTS$ -->
	</td>
<!-- $DAY_END$ -->
<!-- $TODAY_START$ -->	<td class="today">
		<!-- $DAY_NUMBER$ --><br />
		<!-- $DAY_EVENTS$ -->
	</td>
<!-- $TODAY_END$ -->
</tr>
<!-- $WEEK_END$ -->
</table>