<div class="cal_event" itemscope itemtype="http://schema.org/Event">
	<!-- $EDIT_BAR$ -->
	<h1 class="cal_event-heading" itemprop="name"><!-- $EVENT_HEADING$ --></h1>
	<!-- $EVENT_IMAGE_START$ -->
	<div class="cal_event-image">
	<!-- $EVENT_IMAGE$ -->
	</div>
	<!-- $EVENT_IMAGE_END$ -->
	<div class="cal_event-content">
		<!-- $EVENT_AUTHOR_START$ -->
		<p class="cal_event-author">Posted by <!-- $EVENT_AUTHOR$ --></p>
		<!-- $EVENT_AUTHOR_END$ -->
		<p class="cal_event-time"><!-- $EVENT_TIME$ --></p>
		<meta itemprop="startDate" content="<!-- $EVENT_START_DATE$ -->" />
		<!-- $EVENT_CATEGORY_START$ -->
		<strong>Event category:</strong> <!-- $EVENT_CATEGORY$ --><br />
		<!-- $EVENT_CATEGORY_END$ -->
		<br />
		<span itemprop="description"><!-- $EVENT_DESCRIPTION$ --></span><br />
		<br />
		<!-- $EVENT_LOCATION_START$ --><strong>Location:</strong> <span itemprop="location"><!-- $EVENT_LOCATION$ --></span><!-- $EVENT_LOCATION_END$ -->
	</div>
</div>