<table class="contacts_compact">
<!-- $CONTACT_ENTRY_START$ -->
<tr>
	<td>
		<span class="contact_name"><!-- $CONTACT_NAME$ --></span><br />
		<!-- $CONTACT_TITLE_START$ --><span class="contact_title"><!-- $CONTACT_TITLE$ --></span><br /><!-- $CONTACT_TITLE_END$ -->
	</td>
	<td>
		<!-- $CONTACT_EMAIL_START$ --><span class="contact_heading">Email:</span> <!-- $CONTACT_EMAIL$ --><br /><!-- $CONTACT_EMAIL_END$ -->
		<!-- $CONTACT_TELEPHONE_START$ --><span class="contact_heading">Telephone:</span> <span class="nowrap"><!-- $CONTACT_TELEPHONE$ --></span><br /><!-- $CONTACT_TELEPHONE_END$ -->
		<!-- $CONTACT_ADDRESS_START$ --><span class="contact_heading">Address:</span> <!-- $CONTACT_ADDRESS$ --><br /><!-- $CONTACT_ADDRESS_END$ -->
	</td>
</tr>
<!-- $CONTACT_ENTRY_END$ -->
</table>
