/* COMMUNITY CMS DEBUG STYLES */
#debug_info {
	clear: left;
	float: left;
	padding: 5px;
}
#debug_info > h1 {
	font-family: Cambria, "Times New Roman", Serif;
	font-size: large !important;
}
#debug_info > div {
	font-size: small;
	max-height: 100px;
	overflow: auto;
}
#debug_info > div > p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}