body {
	font-family: Tahoma, sans-serif;
	font-size: medium;
	margin: 0px;
	min-width: 750px;
}
#header {
	background-color: #3187b4; /* If image is not loaded yet */
	background: url('./images/header.png'); /* Covers solid background */
	height:100px;
	text-align: center;
}
#body {
	background: #FFFFFF;
	clear: both;
	color: #000000;
	float: left;
	height: auto !important;
	height: 350px;
	margin: 0px;
	min-height: 350px;
	padding: 0px;
	width: 100%;
}
#footer {
	clear: both;
	background-color: #FFF;
	height: 55px;
	text-align: center;
}
#left {
	clear: left;
	float: left;
	width: 200px;
	background-color: #FFF;
	height: auto !important; /* for modern browsers */
	height: 350px; /* for IE5.x and IE6 */
}
#right {
	clear: right;
	float: right;
	width: 200px;
	background-color: #FFF;
	background: url('./images/rightcontentborder.png') no-repeat;
	min-height: 350px;
	height: auto !important;
	height: 350px;
}
#center {
	margin-left: 205px;
	margin-right: 205px;
	margin-top: 5px;
	background-color: #FFF;
	min-height: 350px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 350px; /* for IE5.x and IE6 */
}
#print_header {
	display: none;
}
#page_path {
	display: none;
	font-size: small;
}
img.logo {
	width: 686px;
	height: 100px;
	border: 0px;
}
div.nav_menu {
	background: url('./images/menubg.png');
	width: 200px;
	padding-left: 0px;
	font-size: small;
	color: #000;
	float: left;
	clear: both;
}
div.nav_menu_top {
	background: url('./images/menutop.png');
	height: 6px;
	width: 200px;
	float: left;
}
div.nav_menu_separator {
	background: url('./images/menusep.png');
	height: 20px;
	width: 200px;
	float: left;
	clear: both;
	display: none;
}
div.nav_menu_bottom {
	background: url('./images/menubottom.png');
	height: 6px;
	width: 200px;
	float: left;
	clear: both;
}
div.nav_menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
div.nav_menu ul li {
	float: left;
	width: 200px;
}
div.nav_menu ul li a {
	display: block;
	width: 195px;
	background: none;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.nav_menu .menuitem, .menuitem-hover, .menuitem_current,
.menuitem_haschild_current, .menuitem_haschild, .menuitem_haschild-hover {
	padding: 0px;
}
div.nav_menu .menuitem, .menuitem_haschild {
	background: url('./images/menuitembg.png') no-repeat bottom;
}
div.nav_menu .menuitem-hover, .menuitem_haschild-hover {
	background: url('./images/menuitembg-hover.png');
}
div.nav_menu .menuitem_current, .menuitem_haschild_current,
.submenuitem_current, .submenuitem_haschild_current {
	background: url('./images/menuitembg-current.png');
}
div.nav_menu .childarrow, .subchildarrow {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 180px;
	margin-top: -20px;
	background: url('./images/arrow.png');
	z-index: 1000;
}
div.nav_menu .nav_submenu {
	background: url('./images/menubg.png');
	border: 1px solid #5882BC;
	position: absolute;
	left: 200px;
	width: 200px;
	z-index: 9999;
	display: none;
}
div.nav_menu .nav_submenu .submenuitem, .submenuitem-hover,
.submenuitem_haschild, .submenuitem_haschild-hover {
	padding: 0px;
}
div.nav_menu .nav_submenu .submenuitem-hover, .submenuitem_haschild-hover {
	background: url('./images/menuitembg-hover.png');
}

div.nav_menu input {
	border: 1px solid #5882BC;
	width: 120px;
	background: #D3E1F1;
}
div.nav_menu a {
	color: #333333;
	padding-left: 10px;
	text-decoration: none;
	background: url('./images/menu.png') no-repeat;
}
div.notification {
	width: 100%;
	margin: 3px;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-align: center;
	font-size: x-large;
	background: #FFCCCC;
    border: 1px solid #CC3333;
}
#left div.notification {
	clear: both;
	width: 195px;
}
#right div.notification {
	clear: both;
	width: 195px;
}

a {
	color: #0000FF;
}
a:visited {
	color: #0000FF;
}

/* TABS */
/* ------------------------------------------------------------------------- */
#fe_tabs {
	clear: none;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#fe_tabs #center {
	margin: 0px;
	padding: 0px;
}
.ui-widget {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: medium;
}
.ui-widget-content {
	font-family: Tahoma, Verdana, Arial, sans-serif; }
.ui-widget-header {
	border: 1px solid #e78f08;
	background: #EEEEEE;
	clear: none;
	font-size: large;
	font-weight: bold;
}
.ui-tabs {
	margin: .2em;
	padding: .2em;
	zoom: 1;
}
.ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	padding: .5em 1em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 1px;
	border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	clear: none;
	padding: 0.3em 0em;
	display: block;
	border-width: 0;
	background: none;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #cccccc;
	outline: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */

/* EDITOR STYLES */
/* ------------------------------------------------------------------------- */
table.black-border {
	background-color: #FFFFFF;
	border: 1px solid #000000 !important;
	padding: 0px;
}
table.black-border td {
	border: 1px solid #000000 !important;
	padding: 2px;
	vertical-align: top;
}
table.no-border {
	background-color: #FFFFFF;
	border: 0px;
	padding: 0px;
}
table.no-border td {
	border: 0px;
	padding: 2px;
	vertical-align: top;
}
p.no-spacing {
	margin: 0px;
	padding: 0px;
}

/* NEWS */
/* ------------------------------------------------------------------------- */
div.news_item_container {
    position: relative;
    background: url('./images/news_topleft.png') no-repeat;
	padding: 2px;
}
div.news_item_top {
	color: #999090;
    display: inline;
	font-size: small;
	font-weight: bold;
	height: 0px;
	min-height: 5px;
    max-height: 25px;
	padding-left: 3px;
    text-align: left;
	width: 100%;
}
span.news_title {
	font: 1.5em Cambria,'Times New Roman',Serif;
}
span.news_title a {
	color: #000000;
	text-decoration: none;
}
span.news_author {
    font-size: small;
    font-style: italic;
}
div.news_content {
	font-family: Tahoma,sans-serif;
    font-size: medium;
}
img.news_image {
	max-width: 100px;
	max-height: 100px;
	border: 0px;
	float: left;
	padding: 5px;
	padding-right: 10px;
}
div.news_edit_bar {
	background: #CCCCCC;
	border: 1px #999999 solid;
	float: right;
	min-height: 1px;
	min-width: 1px;
	position: absolute;
	right: 3px;
	top: 3px;
	vertical-align: middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.news_edit_bar img {
	border: 0px;
	padding: 2px;
}
span.news_not_published_label {
	background: #FFEEEE;
	border: 1px solid #990000;
	color: #990000;
	font-size: x-small;
	font-family: Arial, sans-serif;
	padding-left: 2px;
	padding-right: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*
CONTACTS
*/
span.contact_name {
	font-size: 1.5em;
	font-family: Cambria,
				Georgia,
				"Book Antiqua",
				"Times New Roman",
				"Century Schoolbook",
				"Bitstream Vera Serif",
				serif;
}
span.contact_name a {
	color: #000000;
	text-decoration: none;
}
span.contact_title {
	font-style: italic;
	color: #777777;
}
span.contact_heading {
	font-size: medium;
	font-family: Tahoma, sans-serif;
	font-style: italic;
	color: #AAAAAA;
}
table.contacts_compact {
	border: 0px;
	width: 100%;
}
table.contacts_compact td {
	padding: 5px;
	vertical-align: top;
}
table.contacts_compact a {
	color: #000000;
	text-decoration: none;
}

/*
NEWS BLOCK
*/
div.news_block {
	padding: 3px;
}
span.news_block_author {
    font-size: small;
}
span.news_block_title {
	font-family: Cambria,
				Georgia,
				"Book Antiqua",
				"Times New Roman",
				"Century Schoolbook",
				"Bitstream Vera Serif",
				serif;
	font-size: large;
}
div.news_block table.news_block_container {
	background: #FFF;
	border: 1px solid #000;
	padding: 3px;
	width: 100%;
}

/*
POLL BLOCK
*/
div.minipoll_block {
	padding: 3px;
}
span.minipoll_question {
	font-weight: bold;
	font-size: large;
}

/*
UPCOMING EVENTS BLOCK
*/
div.events_upcoming_block {
	padding: 3px;
}
div.events_upcoming_block span.header {
	font-family: Cambria,
				Georgia,
				"Book Antiqua",
				"Times New Roman",
				"Century Schoolbook",
				"Bitstream Vera Serif",
				serif;
	font-size: large;	
}
div.events_upcoming_block table.events {
	background: #FFF;
	border: 1px solid #000;
    font-size: small;
	width: 100%;
}

/*
CALENDAR
*/

table.calendar {
	background-color: #4499CC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px;
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar th {
	color: #FFFFFF;
	text-shadow: 0px 1px 2px #333333;
}
table.calendar tr.day_headings > th {
	font-size: 0.95em;
	font-weight: normal;
}
table.calendar td {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	vertical-align: top;
	height: 80px;
	width: 14%;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar td.today {
	background: #EEF0FF;
	border: 1px #224599 solid;
}
table.calendar a.day_number {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}
table.calendar a.calendar_event {
	font-size: x-small;
	text-decoration: none;
	color: #000000;
}
table.calendar span.calendar_event_starttime {
	font-weight: normal;
}
img.calendar_event_image {
	border: 0px;
	float: left;
	margin-top: 1em;
	padding: 5px;
}
table.calendar_day {
	border: 0px;
	width: 100%;
}
table.calendar_day td {
	vertical-align: top;
}
table.calendar_day td.time {
	height: 20px;
	width: 140px;
}
table.calendar_day td.head {
	height: 20px;
	width: 200px;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar_day td.description {
	height: 20px;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar_nav {
	float: right;
}
table.calendar_nav td {
	border: 0px;
	background: none;
	height: auto;
	width: auto;
	padding: 2px;
}
table.calendar_nav td a {
	background: #DEDEDE;
	border: 1px solid #999999;
	border-radius: 3px;
	color: #000000;
	display: block;
	font-size: small;
	font-weight: normal;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	text-shadow: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
table.calendar_nav td a:hover {
	background: #CCEEFF;
	border: 1px solid #003366;
}
input.button_cal_back_month {
	width: 33px;
}
input.button_cal_back_year {
	width: 44px;
}
input.button_cal_today {
	width: 58px;
}
input.button_cal_next_month {
	width: 33px;
}
input.button_cal_next_year {
	width: 44px;
}

span.newsletter_year {
	font-family: Arial;
	font-size: larger;
	font-style: italic;
}

/*
IMAGE GALLERY (BUILT-IN)
*/
div.image_gallery {
	display: block;
	border: 0px;
}
div.image_gallery > div.gallery_nav {
	display: block;
	padding: 2px;
	text-align: center;
}
div.image_gallery > div.gallery_nav > div.nav_image {
	display: inline-block;
	height: 75px;
	width: 75px;
	padding: 0px;
	overflow: hidden;
}
div.image_gallery > div.gallery_nav > div.nav_image > img {
	border: 0px;
	cursor: pointer;
	margin: 0px;
}
div.image_gallery > div.gallery_body {
	width: 100%;
	min-height: 200px;
	text-align: center;
	vertical-align: middle;
	font-size: larger;
	color: #666666;
}
div.image_gallery > div.gallery_body > img {
	max-width: 100%;
}

div.errormessage {
	color: #FF0000;
	font-family: Verdana,Geneva,Arial,"DejaVu Sans",sans-serif;
	font-size: small;
	background: #FFFFCC;
	border: 1px dashed #FFFF66;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
div.footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 35px;
}