<div class="news_item_container">
	<div class="news_item">
		<!-- $ARTICLE_IMAGE$ --><span class="news_title">
			<!-- $ARTICLE_TITLE$ -->
		</span><br />
		<div class="news_item_top"><!-- $FULL_DATE_START$ -->
			<!-- $ARTICLE_DATE_MONTH_TEXT$ --> <!-- $ARTICLE_DATE_DAY$ --> <!-- $ARTICLE_DATE_YEAR$ -->
		<!-- $FULL_DATE_END$ -->
		<!-- $ARTICLE_AUTHOR_START$ -->Posted by <!-- $ARTICLE_AUTHOR$ --><!-- $ARTICLE_AUTHOR_END$ --></div>
		
		
		<div id="description_<!-- $ARTICLE_ID$ -->" class="news_content"><!-- $ARTICLE_CONTENT$ --></div>
	</div>
</div><br />
