<div class="news_item_container">
	<div class="news_item">
		<!-- $FULL_DATE_START$ --><div class="news_item_date">
			<span class="news_item_date_month"><!-- $ARTICLE_DATE_MONTH_TEXT$ --></span>
			<span class="news_item_date_day"><!-- $ARTICLE_DATE_DAY$ --></span>
			<span class="news_item_date_year"><!-- $ARTICLE_DATE_YEAR$ --></span>
		</div><!-- $FULL_DATE_END$ -->
		<!-- $ARTICLE_IMAGE$ --><span class="news_title"><!-- $ARTICLE_TITLE$ --></span><br />
		<!-- $ARTICLE_AUTHOR_START$ --><span class="news_author">Posted by <!-- $ARTICLE_AUTHOR$ --></span><br /><!-- $ARTICLE_AUTHOR_END$ -->
		<div id="description_<!-- $ARTICLE_ID$ -->" class="news_content"><!-- $ARTICLE_CONTENT$ --></div>
	</div>
</div><br />
