<table class='calendar'>
<tr>
	<th colspan="5"><!-- $CURRENT_MONTH_NAME$ --></th>
	<th colspan="2">
		<table border="0px" class="calendar_nav">
			<tr>
				<td>
					<form method='post' action='?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $CURRENT_MONTH$ -->&amp;y=<!-- $PREV_YEAR$ -->'>
						<input type='submit' value='&lt;&lt;' style="width: 40px;" class='button_cal_back_year' />
					</form>
				</td>
				<td>
					<form method='post' action='?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $PREV_MONTH$ -->&amp;y=<!-- $CURRENT_YEAR$ -->'>
						<input type='submit' value='&lt;' style="width: 30px;" class='button_cal_back_month' />
					</form>
				</td>
				<td>
					<form method='post' action='?<!-- $PAGE_REF$ -->&amp;view=month'>
						<input type='submit' value='Today' style="width: 55px;" class='button_cal_today' />
					</form>
				</td>
				<td>
					<form method='post' action='?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $NEXT_MONTH$ -->&amp;y=<!-- $CURRENT_YEAR$ -->'>
						<input type='submit' value='&gt;' style="width: 30px;" class='button_cal_next_month' />
					</form>
				</td>
				<td>
					<form method='post' action='?<!-- $PAGE_REF$ -->&amp;view=month&amp;m=<!-- $CURRENT_MONTH$ -->&amp;y=<!-- $NEXT_YEAR$ -->'>
						<input type='submit' value='&gt;&gt;' style="width: 40px;" class='button_cal_next_year' />
					</form>
				</td>
			</tr>
		</table>
	</th>
</tr>
<tr>
	<th><!-- $CAL_SUNDAY$ --></th>
	<th><!-- $CAL_MONDAY$ --></th>
	<th><!-- $CAL_TUESDAY$ --></th>
	<th><!-- $CAL_WEDNESDAY$ --></th>
	<th><!-- $CAL_THURSDAY$ --></th>
	<th><!-- $CAL_FRIDAY$ --></th>
	<th><!-- $CAL_SATURDAY$ --></th>
</tr>
<!-- $WEEK_START$ -->
<tr>
<!-- $EMPTY_DAY_START$ -->	<td></td>
<!-- $EMPTY_DAY_END$ -->
<!-- $DAY_START$ -->	<td>
		<!-- $DAY_NUMBER$ --><br />
		<!-- $DAY_EVENTS$ -->
	</td>
<!-- $DAY_END$ -->
<!-- $TODAY_START$ -->	<td class="today">
		<!-- $DAY_NUMBER$ --><br />
		<!-- $DAY_EVENTS$ -->
	</td>
<!-- $TODAY_END$ -->
</tr>
<!-- $WEEK_END$ -->
</table>