<h1 class="cal_day-heading"><!-- $DAY_HEADING$ --></h1>
<table class="cal_day-table" cellspacing="0">
	<thead>
		<tr>
			<th>Time</th>
			<th>Heading</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<!-- $EVENT_START$ --><tr itemscope itemtype="http://schema.org/Event">
			<td class='time'><!-- $EVENT_TIME$ -->
			<meta itemprop="startDate" content="<!-- $EVENT_START_DATE$ -->" /></td>
			<td class='head' itemprop="name"><a itemprop="url" href='?id=<!-- $PAGE_ID$ -->&view=event&a=<!-- $EVENT_ID$ -->'><!-- $EVENT_HEADING$ --></a></td>
			<td class='description'><!-- $EVENT_DESCRIPTION$ --></td>
		</tr>
		<!-- $EVENT_END$ -->
	</tbody>
</table>