<div class="contact_container">
	<div class="contact_item">
		<!-- $CONTACT_IMAGE$ -->
		<span class="contact_name"><!-- $CONTACT_NAME$ --></span><br />
		<span class="contact_title"><!-- $CONTACT_TITLE$ --></span><br />
		<table class="contact">
			<!-- $CONTACT_EMAIL_START$ --><tr><td width="140px"><span class="contact_heading">Email:</span></td><td><!-- $CONTACT_EMAIL$ --></td></tr><!-- $CONTACT_EMAIL_END$ -->
			<!-- $CONTACT_TELEPHONE_START$ --><tr><td width="140px"><span class="contact_heading">Telephone Number:</span></td><td><!-- $CONTACT_TELEPHONE$ --></td></tr><!-- $CONTACT_TELEPHONE_END$ -->
			<!-- $CONTACT_ADDRESS_START$ --><tr><td width="140px"><span class="contact_heading">Address:</span></td><td><!-- $CONTACT_ADDRESS$ --></td></tr><!-- $CONTACT_ADDRESS_END$ -->
		</table>
	</div>
</div><br />
