	<div id="left">
		<div class="nav_menu_top"></div>
		<div class="nav_menu">
			<!-- $NAV_BAR$ -->
		</div>
		<div class="nav_menu_separator"></div>
		<div class="nav_menu">
			<!-- $NAV_LOGIN$ -->
		</div>
		<div class="nav_menu_bottom"></div>
		<div class="left_content">
			<!-- $LEFT_CONTENT$ -->
		</div>
	</div>
	<div id="right">
		<!-- $RIGHT_CONTENT$ -->
	</div>
	<div id="center">
		<div id="page_path"><!-- $PAGE_PATH$ --></div>
		<!-- $BODY_TITLE_START$ --><div id="body_title"><!-- $BODY_TITLE$ --></div><!-- $BODY_TITLE_END$ -->
		<!-- $NOTIFICATION$ -->
		<!-- $PAGE_MESSAGE$ -->
		<!-- $CONTENT$ -->
	</div>