<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title><!-- $PAGE_TITLE$ --></title>
<!-- $NOTEBOOK_CONTENT$ -->
<script src='notebook.js' type='text/javascript'></script>
<!-- $ADMIN_INCLUDE$ -->
<!-- $CSS_INCLUDE$ -->
<style type="text/css">
div.notebook {
  position: absolute;
  right: 30px;
  background: url('<!-- $IMAGE_PATH$ -->notebook.png');
  width: 410px;
  height: 140px;
  z-index: 1;
}
#pscroller1{
width: 360px;
height: 90px;
padding-top: 3px;
padding-left: 10px;
padding-bottom: 10px;
font-size: smaller;
}

div.content {
  position: absolute;
  top: 160px;
  left: 215px;
  right: 5px;
  padding-bottom: 50px;
}
</style>
<script type="text/javascript" src="scripts/ajax.js"></script>

</head>
<body>
<div class="pagehead">
<a href="index.php"><img src="<!-- $IMAGE_PATH$ -->logo.png" alt="Logo" border="0px" height="160px" width="686px" /></a>
</div>
<!-- <div class="header">
  <div class="header_logo">&nbsp;</div>
  <div id="hideShow" class="notebook">
    <script type="text/javascript">
    //new pausescroller(name_of_message_array, CSS_ID, CSS_classname, pause_in_miliseconds)
    new pausescroller(notebook, "pscroller1", "someclass", 3000)
    </script>
  </div>
  <div class="header_tree">&nbsp;</div>
</div> -->

<div class="navigation">
  <div class="nav_menu_top"></div>
  <div class="nav_menu">
    <!-- $NAV_BAR$ -->
  </div>
  <div class="nav_menu_separator"></div>
  <div class="nav_menu">
    <!-- $NAV_LOGIN$ -->
  </div>
  <div class="nav_menu_bottom"></div>
</div>
<div class="content">
  <!-- $CONTENT$ -->
</div>
<div class="footer">
  <!-- $FOOTER$ -->
</div>
</body>
</html>
