<div class="minipoll_block">
<span id="minipoll_question" class="minipoll_question"><!-- $POLL_QUESTION$ --></span><br />
<div id="minipoll_answer_block_<!-- $POLL_ID$ -->">
	<form method="post" action="#">
		<input type="hidden" name="vote_poll" value="<!-- $POLL_ID$ -->" />
		<!-- $POLL_ANSWER_START$ -->
		<input type="radio" name="vote" value="<!-- $POLL_ANSWER_ID$ -->" /><!-- $POLL_ANSWER_TEXT$ --><br />
		<!-- $POLL_ANSWER_END$ -->
		<!-- $POLL_RESPONSE_START$ -->
		<!-- $POLL_ANSWER_TEXT$ --> <!-- $POLL_ANSWER_PERCENT$ -->
		<!-- $POLL_RESPONSE_END$ -->
		<input type="submit" value="Submit" />
		</form>
	</div>
</div>