img.logo {
  width: 686px;
  height: 100px;
  border: 0px;
}
div.nav_menu {
  background: url('./images/menubg.png');
  clear: both;
  color: #000;
  float: left;
  font-size: small;
  padding-left: 10px;
  width: 190px;
}
div.nav_menu_top {
	background: url('./images/menutop.png');
	height: 10px;
	width: 200px;
	float: left;
}
div.nav_menu_separator {
	background: url('./images/menusep.png');
	height: 20px;
	width: 200px;
	float: left;
	clear: both;
}
div.nav_menu_bottom {
	background: url('./images/menubottom.png');
	height: 20px;
	width: 200px;
	float: left;
	clear: both;
}
div.nav_menu input {
	border: 1px solid #000000;
	width: 120px;
	background: #CCCCCC;
}
div.nav_menu a {
	color: #333333;
	padding-left: 10px;
	text-decoration: none;
	background: url('./images/menu.png') no-repeat;
}
div.notification {
	width: 100%;
	margin: 3px;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-align: center;
	font-size: x-large;
	background: #FFCCCC;
    border: 1px solid #CC3333;
}
#left div.notification {
	clear: both;
	width: 195px;
}
#right div.notification {
	clear: both;
	width: 195px;
}

/* EDITOR STYLES */
table.black-border {
	background-color: #FFFFFF;
	border: 1px solid #000000 !important;
	padding: 0px;
}
table.black-border td {
	border: 1px solid #000000 !important;
	padding: 2px;
	vertical-align: top;
}

/* NEWS */
div.news_item_container {
    position: relative;
    background: url('./images/news_topleft.png') no-repeat;
	padding: 2px;
}
div.news_item_top {
	color: #999090;
    display: inline;
	font-size: small;
	font-weight: bold;
	height: 0px;
	min-height: 5px;
    max-height: 25px;
	padding-left: 3px;
    text-align: left;
	width: 100%;
}
span.news_title {
	font: 2em Cambria,'Times New Roman',Serif;
}
span.news_title a {
	color: #000000;
	text-decoration: none;
}
span.news_author {
    font-size: small;
    font-style: italic;
}
div.news_content {
	font-family: Verdana,Geneva,Arial,"DejaVu Sans",sans-serif;
    font-size: small;
}
img.news_image {
	max-width: 100px;
	max-height: 100px;
	border: 0px;
	float: left;
	padding: 5px;
	padding-right: 10px;
}
span.contact_name {
	font-size: large;
	font-family: Cambria,
							Georgia,
							"Book Antiqua",
							"Times New Roman",
							"Century Schoolbook",
							"Bitstream Vera Serif",
							serif;
}
span.contact_name a {
	color: #000000;
	text-decoration: none;
}
span.contact_title {
	font-style: italic;
	color: #777777;
}
span.contact_heading {
	font-size: medium;
	font-family: Calibri,
							Tahoma,
							Verdana,
							Arial,
							"DejaVu Sans",
							sans-serif;
	font-style: italic;
	color: #AAAAAA;
}

/*
NEWS BLOCK
*/
div.news_block {
	padding: 3px;
}
span.news_block_author {
    font-size: small;
}
span.news_block_title {
	font-family: Cambria,
				Georgia,
				"Book Antiqua",
				"Times New Roman",
				"Century Schoolbook",
				"Bitstream Vera Serif",
				serif;
	font-size: large;
}
div.news_block table.news_block_container {
	background: #FFF;
	border: 1px solid #000;
	padding: 3px;
	width: 100%;
}

/*
POLL BLOCK
*/
div.minipoll_block {
	padding: 3px;
}
span.minipoll_question {
	font-weight: bold;
	font-size: large;
}

/*
UPCOMING EVENTS BLOCK
*/
div.events_upcoming_block {
	padding: 3px;
}
div.events_upcoming_block span.header {
	font-family: Cambria,
				Georgia,
				"Book Antiqua",
				"Times New Roman",
				"Century Schoolbook",
				"Bitstream Vera Serif",
				serif;
	font-size: large;	
}
div.events_upcoming_block table.events {
	background: #FFF;
	border: 1px solid #000;
    font-size: small;
	width: 100%;
}

/*
CALENDAR
*/

table.calendar {
	background-color: #4499CC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px;
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar th {
	color: #FFFFFF;
}
table.calendar td {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	vertical-align: top;
	height: 80px;
	width: 14%;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar td.today {
	background: #EEF0FF;
	border: 1px #224599 solid;
}
table.calendar a.day_number {
	text-decoration: underline;
	font-weight: bold;
	color: #000000;
}
table.calendar a.calendar_event {
	font-size: x-small;
	text-decoration: none;
	color: #000000;
}
table.calendar span.calendar_event_starttime {
	font-weight: normal;
}
img.calendar_event_image {
	border: 0px;
	float: left;
	margin-top: 1em;
	padding: 5px;
}
table.calendar_day {
	border: 0px;
	width: 100%;
}
table.calendar_day td {
	vertical-align: top;
}
table.calendar_day td.time {
	height: 20px;
	width: 140px;
}
table.calendar_day td.head {
	height: 20px;
	width: 200px;
	overflow: hidden;
	table-layout: fixed;
}
table.calendar_day td.description {
	height: 20px;
	overflow: hidden;
	table-layout: fixed;
}
input.button_cal_back_month {
	float: right;
	width: 33px;
}
input.button_cal_back_year {
	float: right;
	width: 44px;
}
input.button_cal_today {
	float: right;
	width: 58px;
}
input.button_cal_next_month {
	float: right;
	width: 33px;
}
input.button_cal_next_year {
	float: right;
	width: 44px;
}

span.newsletter_year {
	font-family: Arial;
	font-size: larger;
	font-style: italic;
}

div.errormessage {
	color: #FF0000;
	font-family: Verdana,Geneva,Arial,"DejaVu Sans",sans-serif;
	font-size: small;
	background: #FFFFCC;
	border: 1px dashed #FFFF66;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
div.footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 35px;
}

/* DEBUG */
#debug_info {
	border: 1px solid #CCCCCC;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#debug_info > h1 {
	line-height: 0px;
	font-size: large;
}