/* 
    Document   : editor_styles
    Created on : 9-Jan-2010, 2:49:20 PM
    Author     : Stephen
    Description: Custom classes for TinyMCE editor
*/

body {
	font-family: Tahoma, sans-serif !important;
	font-size: medium !important;
}

table.black-border {
	background-color: #FFFFFF;
	border: 1px solid #000000 !important;
	padding: 0px;
}
table.black-border td {
	border: 1px solid #000000 !important;
	padding: 2px;
	vertical-align: top;
}
table.no-border {
	background-color: #FFFFFF;
	border: 0px;
	padding: 0px;
}
table.no-border td {
	border: 0px;
	padding: 2px;
	vertical-align: top;
}

p.no-spacing {
	margin: 0px;
	padding: 0px;
}
