#main {
	background: #FFFFFF;
	background-image: url('../../admin/templates/default/images/contentbg.png');
	background-repeat: no-repeat;
	border: 1px solid #333333;
	padding: 5px;
	vertical-align: top;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#main > h1 {
	border-bottom: 1px solid #CCCCCC;
	color: #333344;
	font-family: Tahoma,Verdana,Arial,sans-serif;
	margin: 5px;
}
#main > h2 {
	color: #333344;
	font-family: Arial,Verdana,sans-serif;
	margin: 5px;
}
#footer {
	display: block;
	width: 100%;
	text-align: center;
	color: #999999;
	font-size: small;
	font-family: sans-serif;
}

div.license_header {
	background: #CCCCCC;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 2px;
}
div.license_applicable {
	background: #CCCCCC;
	font-family: sans-serif;
	font-style: italic;
	padding: 2px;
}
div.license_body {
	background: #EEEEEE;
	padding: 2px;
}
div.license_body textarea {
	height: 400px;
	width: 100%;
}

#file_permissions, table {
	background: #FFFFFF;
	border: 1px solid #000000;
}
#file_permissions td {
	padding-left: 15px;
	padding-right: 15px;
}

span.req_good {
	color: #00CC00;
	font-family: sans-serif;
	font-weight: bold;
}
span.req_bad {
	color: #CC0000;
	font-family: sans-serif;
	font-weight: bold;
}

table.container {
	background: transparent;
	border: 0px;
	padding: 2px;
	margin: 0px;
	width: 100%;
}
table.container td {
	background: #FFFFFF;
	border: 1px solid #000000;
	vertical-align: top;
}
table.container h1 {
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.7em;
	border-bottom: 1px #EEEEEE solid;
	margin: 5px;
}
table.container p {
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.0em;
	margin: 5px;
}
table.content {
	background: #FFFFFF;
	border: 0px;
	color: #000000;
	height: 100%;
}
table.content td {
	border: 0px;
}

a {
	color: #000000;
	font-family: Arial,Verdana,sans-serif;
	text-decoration: none;
}
a:hover {
	color: #999999;
	text-decoration: underline;
}
div.query {
	border: 1px solid #000000;
	font-size: x-small;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 5px;
}