<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title><!-- $PAGE_TITLE$ --></title>
<!-- $CSS_INCLUDE$ -->
<style type="text/css">
div.content {
  position: absolute;
  top: 160px;
  left: 215px;
  right: 5px;
  padding-bottom: 50px;
}
</style>
</head>
<body>
<div class="pagehead">
<a href="index.php"><img src="<!-- $IMAGE_PATH$ -->logo.png" alt="Logo" border="0px" height="160px" width="686px" /></a>
</div>
<div class="navigation">
  <div class="nav_menu_top"></div>
  <div class="nav_menu_bottom"></div>
</div>
<div class="content">
  <!-- $CONTENT$ -->
</div>
<div class="footer">
  <!-- $FOOTER$ -->
</div>
</body>
</html>
