<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Community CMS Administration</title>
<!-- $ADMIN_INCLUDE$ -->
<!-- $SCRIPTS$ -->
<!-- $CSS_INCLUDE$ -->
</head>
<body>
	<div id="header">
		<a href="admin.php?"><img src="<!-- $IMAGE_PATH$ -->logo.png" border="0px" width="380px" height="75px"></a>
		<div class="iconbar">
			<!-- $ICON_BAR$ -->
		</div>
	</div>
	<table class="main">
		<tr>
			<td class="left"><!-- $NAV_BAR$ --></td>
			<td class="center"><!-- $CONTENT$ --></td>
		</tr>		
	</table>
	<div id="footer">
  	<!-- $FOOTER$ -->
	</div>
</body>
</html>
