	<script type='text/javascript'>
	$(document).ready(function(){
		$('#nav-menu').dropDownMenu({parentMO: 'parent-hover', childMO: 'child-hover1'});
	});
	</script>
	<div id="navigation">
		<ul id="nav-menu">
			<li>
				<a href="admin.php?">Main</a>
				<ul>
					<li><a href="index.php">View Site</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Content</a>
				<ul>
					<li><a href="admin.php?module=page">Manage Pages</a></li>
					<li><a href="admin.php?module=page_message">Manage Page Messages</a></li>
					<li><a href="admin.php?module=block_manager">Manage Blocks</a></li>
					<li><a>Manage Content</a></li>
					<li><a href="admin.php?module=filemanager">Manage Files</a></li>
					<li><a href="admin.php?module=news">TMP: Manage News</a></li>
					<li><a href="admin.php?module=newsletter">TMP: Manage Newsletters</a></li>
					<li><a href="admin.php?module=calendar">TMP: Manage Calendar</a></li>
					<li><a href="admin.php?module=poll_manager">TMP: Manage Polls</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Users</a>
				<ul>
					<li><a href="admin.php?module=user">Manage Users</a></li>
					<li><a href="admin.php?module=user_groups">Manage User Groups</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Settings</a>
				<ul>
					<li><a href="admin.php?module=site_config">Site Settings</a></li>
					<li><a href="admin.php?module=settings_plugin">Plug-In Settings</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Extensions</a>
				<ul>
					<li><a href="admin.php?ui=1&amp;module=plugins">Manage Plug-Ins</a></li>
					<li><a>Manage Themes</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Utilities</a>
				<ul>
					<li><a href="admin.php?ui=1&amp;module=log_view">View Logs</a></li>
					<li><a href="admin.php?module=util_check_updates">Check for Updates</a></li>
				</ul>
			</li>
		</ul>
	</div>