/*
COMMUNITY CMS ADMIN STYLESHEET
*/

/* ------------------------------------------------------------------------- */

h1 {
	font-family: Cambria,Arial,Sans-Serif;
}
div.head, td.head {
  vertical-align: top;
  height: 20px;
  width: 200px;
  overflow: hidden;
  table-layout: fixed;
}
div.description, td.description {
  vertical-align: top;
  height: 20px;
  overflow: hidden;
  table-layout: fixed;
}
div.calendar_content {
  width: 100%;
  height: 65px;
  overflow: hidden;
}


span.newsletter_year {
  font-family: Arial;
  font-size: larger;
  font-style: italic;
}

/* Administration Specific Styles */
span.nav_header {
	font-family: Cambria,Arial,'Sans Serif',Serif;
	font-weight: bold;
	text-align: center;
}
.adm_page_list_item {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.adm_page_list_item:hover {
  background: #CCCCCC;
}

div.errormessage {
  color: #FF0000;
  font-family: Arial;
  font-size: small;
  background: #FFFFCC;
  border: 1px dashed #FFFF66;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
.admintable {
	width: 100%;
	border: 1px solid #e78f08;
	background: #f6a828;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.admintable th {
	text-align: left;
	font-size: 1em;
}
.admintable tr {
	border-bottom: 1px solid #e78F08;
}
.admintable .row1 {
/*	background: #EEEEEE; */
}
.admintable .row2 {
/*	background: #E6E6E6; */
}
.admintable td {
	border: 1px solid #dddddd;
	background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #333333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.admintable td.empty {
	border: 0px;
	background: #f6a828;
}

table.log_messages th {
	background: #DDDDDD;
	text-align: left;
	font-family: Cambria,'Times New Roman',Serif;
}
/* tr.row1 td {
	background: #EEEEEE;
	padding-left: 3px;
	font-family: Calibri,Arial,Sans-Serif;
}
tr.row2 td {
	background: #E6E6E6;
	padding-left: 3px;
	font-family: Calibri,Arial,Sans-Serif;
} */

.notice {
	background: #f6ec8c;
	border: 1px solid #f3d05d;
	color: #b60000;
	font-size: small;
}
div.notice {
	position: absolute;
	right: 10px;
	width: 300px;
	z-index: 3;
}
div.admin_image_list_item {
	display: block;
	float: left;
	text-align: center;
	border: 1px solid #e78f08;
    background: #f6a828;
    margin: 1px;
    padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
div.admin_image_list_item:hover {
    background: #fdaf2f;
    }
}
div.admin_image_list_item img {
	width: 100px;
	height: 100px;
	padding: 2px;
}


/*
Styles used only on help pages
*/
#admin_help_toc {

}
#admin_help_toc a {
	color: #000;
	text-decoration:none;
}
#admin_help_toc a:hover {
	text-decoration: underline;
}

#admin_help_page {

}
#admin_help_page div.admin_help_explanation {
	font-style: italic;
	font-family: Arial, Sans-Serif;
	font-size: small;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#admin_help_page div.admin_help_quick_instructions {

}