body {
	background-color: #FFFFFF;
	color: #000000;
	margin: 0px;
}
h1 {
	font-family: sans-serif;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 10px;
	margin-bottom: 5px;
}

#menu {
	border-right: 1px solid #DDDDDD;
	left: 0px;
	padding: 5px;
	padding-right: 0;
	position: absolute;
	top: 0px;
	width: 200px;
}
#menu > h1 {
	margin-right: 5px;
}
#menu > h2 {
	font-family: sans-serif;
	margin-bottom: 2px;
	margin-top: 10px;
}
#menu > ul {
	list-style: none;
	margin: 0px;
	padding-left: 10px;
}
#menu a {
	color: #000000;
	display: block;
	font-family: sans-serif;
	padding: 2px;
	text-decoration: none;
}
#menu a:hover {
	background: #DDDDDD;
}

#content {
	left: 205px;
	padding: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
}