<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE propertylist SYSTEM "../docs/acl.dtd">
<propertylist>
	<category>
		<catname>Uncategorized</catname>
		<item>
			<name>all</name>
			<label>All Permissions</label>
		</item>
		<item>
			<name>adm_block_manager</name>
		</item>
		<item>
			<name>adm_calendar</name>
		</item>
		<item>
			<name>adm_calendar_edit_date</name>
		</item>
		<item>
			<name>adm_calendar_settings</name>
		</item>
		<item>
			<name>adm_feedback</name>
		</item>
		<item>
			<name>adm_filemanager</name>
		</item>
		<item>
			<name>adm_help</name>
		</item>
		<item>
			<name>adm_index</name>
		</item>
		<item>
			<name>adm_log_view</name>
		</item>
		<item>
			<name>adm_news</name>
		</item>
		<item>
			<name>adm_news_edit_article</name>
		</item>
		<item>
			<name>adm_news_settings</name>
		</item>
		<item>
			<name>adm_newsletter</name>
		</item>
		<item>
			<name>adm_page_message</name>
		</item>
		<item>
			<name>adm_page_message_edit</name>
		</item>
		<item>
			<name>adm_page_message_new</name>
		</item>
		<item>
			<name>adm_poll_manager</name>
		</item>
		<item>
			<name>adm_poll_new</name>
		</item>
		<item>
			<name>adm_poll_results</name>
		</item>
		<item>
			<name>adm_site_config</name>
		</item>
		<item>
			<name>adm_upload_mini</name>
		</item>
		<item>
			<name>adm_user</name>
		</item>
		<item>
			<name>adm_user_create</name>
		</item>
		<item>
			<name>adm_user_edit</name>
		</item>
		<item>
			<name>adm_user_groups</name>
		</item>
		<item>
			<name>adm_user_permission</name>
		</item>
		<item>
			<name>log_clear</name>
		</item>
		<item>
			<name>log_post_custom_message</name>
		</item>
		<item>
			<name>set_permissions</name>
		</item>
	</category>
	<category>
		<catname>Pages</catname>
		<item>
			<name>adm_page</name>
		</item>
		<item>
			<name>page_delete</name>
		</item>
		<item>
			<name>page_set_home</name>
		</item>
	</category>
</propertylist>