h1 {
	font-family: Cambria,'Times New Roman',Serif;
	}
h2 {
	font-family: Cambria,'Times New Roman',Serif;
	}
h2 a {
	color: #000000;
	text-decoration: none;
	}
h2 a:hover {
	text-decoration: underline;
	}
h3 {
	
	}
li {
	font-family: Calibri,Verdana,Tahoma,Arial,Sans-Serif;
	}
li a {
	color: #000000;
	text-decoration: none;
	}
li a:hover {
	text-decoration: underline;
	}
span.function {
	font-family: Courier,'Courier New',Monospace;
	padding: 5px;
	background: #EFEFEF;
	border: 1px solid #000000;
	margin-left: 20px;
	line-height: 20px;
	}
td {
	border: 1px solid #666666;
	}